<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>

</head>
<body>
    {% include "base/header.html" %}

    <main class="main-content">
        <h3 id="volver">
            <a href="{% url 'listMed' %}">Volver</a>
        </h3>

        {% if mensaje %}
        <div>
            <p>{{ mensaje }}</p>
        </div>
      {% endif %}
      <section class="resident-section">
        <div>
            <h1 class="section-title">Agregar Medicamento</h1>
            <div class="resident-form-container">
                <form method="POST" action="{% url 'addMed' %}">
                    {% csrf_token %}
                    <table class="resident-table">
                        <tr>
                            <td class="label">Nombre:</td>
                            <td><input type="text" name="nombre" class="input-field" required /></td>
                        </tr>
                        <tr>
                            <td class="label">Dosis:</td>
                            <td><input type="text" name="tipoDosis" class="input-field" required /></td>
                        </tr>
                        <tr>
                            <td class="label">Descripción:</td>
                            <td><input type="text" name="descripcion" class="input-field" required /></td>
                        </tr>
                    </table>
                    <div class="add-button-container">
                        <input
                            type="submit"
                            value="Agregar Medicamento"
                            class="add-button"
                        />
                    </div>
                </form>
            </div>
        </div>
      </section>
    </main>
</body>
</html>
