<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleDosis.css' %}" />
    <title>DIOXX_666</title>

    <style>
      .a-btn-global {
        color: var(--color-por-defecto); /* Ajusta el color según sea necesario */
        text-decoration: none;
      }

      .btn-global {
        border-radius: 0.3em;
        width: 10vw;
        height: 4vh;
        font-size: 1.2em;
        font-weight: 600;
        background-color: var(--amarillo);
        color: var(--azul);
        transition: all 0.3s ease-in-out;
      }

      .btn-global:hover {
        color: white;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-list main-listAcc">
      <h1 class="font-texto titulo-acc titulo-list">Medicamentos del Residente</h1>
      <h2 class="subtitulo font-texto">Residente: {{ residente_actual.nombre }} {{ residente_actual.apellido }}</h2>
    
      <div class="table-list table-acc">
        <table class="font-texto" style="border-collapse: collapse; width: 80%; margin: 0 auto;">
          <thead>
            <tr>
              <th>Medicamento</th>
              <th>Tipo de Dosis</th>
              <th>Cantidad Dosis</th>
              <th>Horario</th>
            </tr>
          </thead>
          <tbody>
            {% for medicamento in medicamentos %}
            <tr>
              <td>{{ medicamento.nombre }}</td>
              <td>{{ medicamento.tipoDosis }}</td>
              <td>{{ medicamento.cantDosis }}</td>
              <td>{{ medicamento.horario }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" style="border: 1px solid black; padding: 8px; text-align: center;">No hay medicamentos registrados.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
      <!-- Navegación entre residentes -->
      <div class="div-a-residente">
        {% if residente_index > 0 %}
        <a href="?residente_index={{ residente_index|add:"-1" }}">Anterior Residente</a>
        {% endif %}
        {% if residente_index < total_residentes|add:"-1" %}
        <a href="?residente_index={{ residente_index|add:"1" }}">Siguiente Residente</a>
        {% endif %}
      </div>
    </main>
  </body>
</html>