<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h1 class="main-title">Listado de Residentes y Medicamentos</h1>
      <section class="table-section">
        <div class="table-container">
          <table class="residents-table">
            <thead>
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Medicamento</th>
                <th>Dosis Mañana</th>
                <th>Dosis Tarde</th>
                <th>Dosis Noche</th>
              </tr>
            </thead>
            <tbody>
              {% if datos_residentes %} 
                {% for dato in datos_residentes %} 
                  {% if dato.medicamentos %} 
                    {% for medicamento in dato.medicamentos %}
                      <tr>
                        {% if forloop.first %}
                          <td rowspan="{{ dato.medicamentos|length }}">
                            {{ dato.residente.rut }}
                          </td>
                          <td rowspan="{{ dato.medicamentos|length }}">
                            {{ dato.residente.nombre }}
                          </td>
                        {% endif %}
                        <td>{{ medicamento.nombre }}</td>
                        <td>{{ medicamento.dosis_m }}</td>
                        <td>{{ medicamento.dosis_t }}</td>
                        <td>{{ medicamento.dosis_n }}</td>
                      </tr>
                    {% endfor %} 
                  {% else %}
                  <tr>
                    <td>{{ dato.residente.rut }}</td>
                    <td>{{ dato.residente.nombre }}</td>
                    <td colspan="4">
                      No hay medicamentos registrados para este residente.
                    </td>
                  </tr>
                {% endif %} 
              {% endfor %} 
              {% else %}
                <tr>
                  <td colspan="6">No hay residentes registrados.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </section>
      <div class="add-button-container">
        <a href="{% url 'addRes' %}">
          <button class="add-button">Agregar Residente</button>
        </a>
      </div>
    </main>
  </body>
</html>
