<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/menuMed.css' %}" />
    <title>DIOXX_666 - Gestión de Medicamentos</title>
</head>
<body>
    {% include "base/header.html" %}

    <main class="medication-main">
        <h1 class="medication-title">Gestión de Medicamentos</h1>
        <div class="button-group">
            <a href="{% url 'listMed' %}">
                <button class="medication-button">Lista de Medicamentos</button>
            </a>
            <a href="{% url 'addMed' %}">
                <button class="medication-button">Agregar Medicamentos</button>
            </a>
            <a href="{% url 'listResMedicamentos' %}">
                <button class="medication-button">Horario de Medicamentos</button>
            </a>
            <a href="{% url 'dosis' %}">
                <button class="medication-button">Próximas Dosis</button>
            </a>
        </div>
    </main>
</body>
</html>
