<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleAccesos.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h3 id="volver">
        <a href="{% url 'listMed' %}">Volver</a>
      </h3>

      {% if mensaje %}
      <div
        style="
          text-align: center;
          color: green;
          font-weight: bold;
          font-size: 1.2em;
        "
      >
        <p>{{ mensaje }}</p>
      </div>
      {% endif %}

      <div class="resident-section">
        <h1 class="section-title">Actualizar Medicamento</h1>
        <div class="resident-form-container">
          <form
            method="POST"
            action="{% url 'updMed' pk=medicamento.idMedicamento %}"
          >
            {% csrf_token %}
            <table class="resident-table">
              <tr>
                <td class="label">Nombre:</td>
                <td>
                  <input
                    class="input-field"
                    type="text"
                    name="nombre"
                    value="{{ medicamento.nombre }}"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td class="label">Dosis:</td>
                <td>
                  <input
                    class="input-field"
                    id="tipoDosis"
                    type="text"
                    name="tipoDosis"
                    value="{{ medicamento.tipoDosis }}"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td class="label">Descripción:</td>
                <td>
                  <input
                    class="input-field"
                    id="descripcion"
                    type="text"
                    name="descripcion"
                    value="{{ medicamento.descripcion }}"
                    required
                  />
                </td>
              </tr>
            </table>
            <div
              id="mensaje-error"
              style="display: none; color: red; margin-bottom: 15px; width: 15vw; height: 5vh; text-align: center;"
            ></div>
            <div class="add-button-container">
              <input
                type="submit"
                value="Actualizar Medicamento"
                class="add-button"
              />
            </div>
          </form>
          <form
            id="delete-form"
            method="POST"
            action="{% url 'delMed' pk=medicamento.idMedicamento %}"
          >
            {% csrf_token %}
            <div class="add-button-container">
              <input
                id="delete-button"
                type="button"
                class="add-button"
                value="Eliminar"
              />
            </div>
          </form>
          <div id="confirm-modal" class="modal" style="display: none">
            <div class="modal-content">
              <p>¿Estás seguro de que deseas eliminar este acceso?</p>
              <div class="modal-buttons">
                <button id="cancel-button" class="modal-button">
                  Cancelar
                </button>
                <button id="confirm-button" class="modal-button">
                  Confirmar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'js/valMed.js' %}"></script>
  </body>
</html>
