<header>
    <nav>
      <ul class="font-texto">
        <li class="nav-item"><a href="{% url 'listRes' %}" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'listRes' %}" class="nav-link">Residentes</a></li>
        <li class="nav-item"><a href="{% url 'listPer' %}" class="nav-link">Personal</a></li>
        <li class="nav-item"><a href="" class="nav-link">Medicamentos</a></li>
        <li class="nav-item"><a href="{% url 'listErm' %}" class="nav-link">Emergencias</a></li>
        <li class="nav-item"><a href="" class="nav-link">Eventos</a></li>
        <li class="nav-item">
          <a href="{% url 'listAcc' %}" class="nav-link">Control de accesos</a>
        </li>
        <li class="nav-item">
          <div class="opciones">
            <a href="">
              <span class="material-symbols-outlined">notifications</span>
            </a>
            <a href=""
              ><span class="material-symbols-outlined"> logout </span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </header>