<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h1 class="main-title">Listado de Emergencias</h1>
      <section class="table-section">
        <div class="table-container">
          <table class="residents-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Rut Residente</th>
                <th>Nombre Residente</th>
                <th>Ver información</th>
              </tr>
            </thead>
            <tbody>
              {% for emergencia in emergencias %}
              <tr>
                <td>{{ emergencia.idEmergencia }}</td>
                <td>{{ emergencia.fecha }}</td>
                <td>{{ emergencia.residente.rut }}</td>
                <td>{{ emergencia.residente }}</td>
                <td>
                  <a href="{% url 'verErm' pk=emergencia.idEmergencia %}"
                    >Ver</a
                  >
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">No hay emergencias registradas.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <div class="add-button-container">
        <a href="{% url 'addErm' %}">
          <button class="add-button">
            Agregar Emergencia
          </button>
        </a>
      </div>
    </main>
  </body>
</html>
