<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>

  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h3 id="volver"><a href="{% url 'listPer' %}">Volver</a></h3>

      <div class="resident-section">
        <div>
          <h1 class="section-title">Personal</h1>
        </div>
        <div class="resident-form-container">
          <form method="POST" action="{% url 'addPer' %}">  
            {% csrf_token %}
            <table class="resident-table">
              <tr>
                <td class="label">Rut:</td>
                <td><input type="text" name="rut" required /></td> 
              </tr>
              <tr>
                <td class="label">Nombre:</td>
                <td><input type="text" name="nombre" required /></td>  <!-- Sin valor predeterminado -->
              </tr>
              <tr>
                <td class="label">Apellido:</td>
                <td><input type="text" name="apellido" required /></td>  <!-- Sin valor predeterminado -->
              </tr>
              <tr>
                <td class="label">Cargo:</td>
                <td>
                  <select name="cargo" required>
                    <option value="" selected>Seleccionar</option>
                    {% for cargo in cargos %}
                      <option value="{{ cargo.idCargo }}">{{ cargo.descripcion }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table>
            <div class="add-button-container">
                <input onclick="validarAddPersonal" type="submit" class="add-button" value="Agregar">
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="{% static '/js/valPersonal.js' %}"></script>
  </body>
</html>
