<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <title>DIOXX_666</title>

  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h3 id="volver"><a href="{% url 'verPer' pk=persona.rut %}">Volver</a></h3>

      {% if mensaje %}
        <div>
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}

      <div class="resident-section">
        <div>
          <h1 class="section-title">Personal</h1>
        </div>
        <div class="resident-form-container">
          <form method="POST" action="{% url 'updPer' %}">
            {% csrf_token %}
            <table class="resident-table">
              <tr>
                <td class="label">Rut:</td>
                <td><input class="input-field" type="text" name="rut" value="{{ persona.rut }}" readonly /></td>
              </tr>
              <tr>
                <td class="label">Nombre:</td>
                <td><input class="input-field" type="text" name="nombre" value="{{ persona.nombre }}" required /></td>
              </tr>
              <tr>
                <td class="label">Apellido:</td>
                <td><input class="input-field" type="text" name="apellido" value="{{ persona.apellido }}" required /></td>
              </tr>
              <tr>
                <td class="label">Cargo:</td>
                <td>
                  <select name="cargo" required>
                    {% for cargo in cargos %}
                      <option value="{{ cargo.idCargo }}" {% if cargo.idCargo == persona.cargo.idCargo %}selected{% endif %}>
                        {{ cargo.descripcion }}
                      </option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table>
            <div class="add-button-container">
                <input class="add-button" type="submit" value="Actualizar">
            </div>
          </form>
          <form method="POST" action="{% url 'delPer' pk=persona.rut %}">
            {% csrf_token %}
            <div class="add-button-container">
                <input class="add-button" type="submit" value="Eliminar">
            </div>
        </form>
        </div>
      </div>
    </main>
  </body>
</html>
