<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666 - Registro de Residente</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h3 id="volver">
        <a href="{% url 'listRes' %}">Volver</a>
      </h3>

      <section class="resident-section">
        <form method="POST" action="{% url 'addRes' %}">
          {% csrf_token %}
          <h1 class="section-title">Información del Residente</h1>
          
          <div class="resident-form-container">
            <table class="resident-table">
              <tr>
                <td class="label">RUT:</td>
                <td>
                  <input type="text" name="rut" placeholder="Ingrese el RUT" class="input-field" />
                </td>
              </tr>
              <tr>
                <td class="label">Nombre:</td>
                <td>
                  <input type="text" name="nombre" placeholder="Ingrese el nombre" class="input-field" />
                </td>
              </tr>
              <tr>
                <td class="label">Apellido:</td>
                <td>
                  <input type="text" name="apellido" placeholder="Ingrese el apellido" class="input-field" />
                </td>
              </tr>
              <tr>
                <td class="label">Edad:</td>
                <td>
                  <input type="number" name="edad" placeholder="Ingrese la edad" class="input-field" />
                </td>
              </tr>
              <tr>
                <td class="label">Contactos:</td>
                <td>
                  <input type="text" name="contactos" placeholder="Ingrese contactos de familiares" class="input-field" />
                </td>
              </tr>
              <tr>
                <td class="label">Número de emergencia:</td>
                <td>
                  <input type="text" name="nroEmergencia" placeholder="Ingrese número de emergencia" class="input-field" />
                </td>
              </tr>
              <tr>
                <td class="label">Exámenes:</td>
                <td>
                  <button class="upload-button">Subir</button>
                </td>
              </tr>
            </table>
          </div>

          <div class="table-section">
            <h3 class="section-subtitle">Recetas Médicas</h3>
            <div class="table-container">
              <table class="residents-table">
                <thead>
                  <tr>
                    <th>Medicamento</th>
                    <th>Cantidad por dosis</th>
                    <th>Horario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="text" name="nombre_medicamento" placeholder="Nombre del medicamento" class="input-field" />
                    </td>
                    <td>
                      <input type="number" name="cantDosis" placeholder="Cantidad por dosis" class="input-field" />
                    </td>
                    <td>
                      <input type="text" name="horario" placeholder="Horario" class="input-field" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="add-button-container">
            <input type="submit" value="Agregar" class="add-button"/>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
