<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h1 class="main-title">Listado de residentes</h1>
      <section class="search-section">
        <div class="search-container">
          <input
            type="search"
            name="busc-res"
            placeholder="Ingrese el rut o apellido del residente"
            class="search-input"
          />
        </div>
      </section>
      <section class="table-section">
        <div class="table-container">
          <table class="residents-table">
            <thead>
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nro. de emergencia</th>
                <th>Ver información</th>
              </tr>
            </thead>
            <tbody>
              {% for residente in residentes %}
              <tr>
                <td>{{ residente.rut }}</td>
                <td>{{ residente.nombre }}</td>
                <td>{{ residente.apellido }}</td>
                <td>{{ residente.nroEmergencia }}</td>
                <td><a href="{% url 'verRes' pk=residente.rut %}" class="info-link">Ver</a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">No hay residentes registrados.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      
      <div class="add-button-container">
        <a href="{% url 'addRes' %}">
          <button class="add-button">
            Agregar
          </button>
        </a>
      </div>
    </main>
  </body>
</html>
