<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h3 id="volver">
        <a href="{% url 'verRes' pk=residente.rut %}">Volver</a>
      </h3>

      {% if mensaje %}
      <div>
        <p>{{ mensaje }}</p>
      </div>
      {% endif %}

      <section class="resident-section">
        <form method="POST" action="{% url 'updRes' %}">
          {% csrf_token %}
          <div>
            <div>
              <h1 class="section-title">Información del Residente</h1>
            </div>

            <div class="resident-form-container">
              <table class="resident-table">
                <tr>
                  <td class="label">Rut:</td>
                  <td>
                    <input
                      type="text"
                      name="rut"
                      value="{{ residente.rut }}"
                      readonly
                      class="input-field"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="label">Nombre:</td>
                  <td>
                    <input
                      type="text"
                      name="nombre"
                      value="{{ residente.nombre }}"
                      class="input-field"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="label">Apellido:</td>
                  <td>
                    <input
                      type="text"
                      name="apellido"
                      value="{{ residente.apellido }}"
                      class="input-field"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="label">Edad:</td>
                  <td>
                    <input
                      type="number"
                      name="edad"
                      value="{{ residente.edad }}"
                      class="input-field"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="label">Contactos:</td>
                  <td>
                    <input
                      type="text"
                      name="contactos"
                      value="{{ residente.contactos }}"
                      class="input-field"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="label">Número de emergencia:</td>
                  <td>
                    <input
                      type="text"
                      name="nroEmergencia"
                      value="{{ residente.nroEmergencia }}"
                      class="input-field"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="label">Exámenes:</td>
                  <td><button class="upload-button">Subir</button></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="table-section">
            <h3 class="section-subtitle">Recetas médicas</h3>
            <div class="table-container">
              <table class="residents-table">
                <thead>
                  <tr>
                    <th>Medicamento</th>
                    <th>Cantidad por dosis</th>
                    <th>Horario</th>
                  </tr>
                </thead>
                <tbody>
                  {% for detalle in detalleR %}
                  <tr>
                    <td>{{ detalle.idMedicamento.nombre }}</td>
                    <td>{{ detalle.cantDosis }}</td>
                    <td>{{ detalle.horario }}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>

          <div class="add-button-container">
            <input type="submit" value="Actualizar" class="add-button" />
          </div>
        </form>
        <form method="POST" action="{% url 'delRes' pk=residente.rut %}">
          {% csrf_token %}
          <div class="add-button-container">
            <input type="button" value="Agregar" class="add-button"/>
          </div>
          <div class="add-button-container">
            <input type="submit" value="Eliminar" class="add-button" />
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
