<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}
    <main class="main-content">
      <h3 id="volver">
        <a href="{% url 'listRes' %}">Volver</a>
      </h3>

      <section class="resident-section">
        <div>
          <h1 class="section-title">Residente</h1>
          <div class="resident-form-container">
            <table class="resident-table">
              <tr>
                <td class="label">Rut:</td>
                <td>{{ residente.rut }}</td>
              </tr>
              <tr>
                <td class="label">Nombre:</td>
                <td>{{ residente.nombre }}</td>
              </tr>
              <tr>
                <td class="label">Apellido:</td>
                <td>{{ residente.apellido }}</td>
              </tr>
              <tr>
                <td class="label">Edad:</td>
                <td>{{ residente.edad }} años</td>
              </tr>
              <tr>
                <td class="label">Contactos:</td>
                <td>{{ residente.contactos }}</td>
              </tr>
              <tr>
                <td class="label">Número de emergencia:</td>
                <td>{{ residente.nroEmergencia }}</td>
              </tr>
              <tr>
                <td class="label">Exámenes:</td>
                <td><button class="upload-button">Subir</button></td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <div class="table-section">
        <h3 class="section-subtitle">Recetas médicas</h3>
        <div class="table-container">
          <table class="residents-table">
            <thead>
              <tr>
                <th>Medicamento</th>
                <th>Cantidad por dosis</th>
                <th>Horario</th>
              </tr>
            </thead>
            <tbody>
              {% for detalle in detalleR %}
              <tr>
                <td>{{ detalle.idMedicamento.nombre }}</td>
                <td>{{ detalle.cantDosis }}</td>
                <td>{{ detalle.horario }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">
                  No hay recetas registradas para este residente.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="add-button-container">
        <a href="{% url 'findRes' pk=residente.rut %}">
          <button class="add-button">Actualizar</button>
        </a>
      </div>
    </main>
  </body>
</html>
