body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}


/* Navbar */
nav {
    background-color: #007bff;
    padding: 25px;
}

nav  ul{
    display: flex;
    margin: 0 40px 0 40px;
    justify-content: space-between;    
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
