@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --amarillo: #F9BA14;
    --azul: #012C56;
}

/* General */

/* body */
body {
    margin: 0;
    box-sizing: border-box;
}

/* Font */
.font-texto {
    font-family: "Roboto", sans-serif;
}

/* Botones */
.a-btn-global {
    color: var();
    text-decoration: none;

    .btn-global {
        border-radius: 0.3em 0.3em 0.3em 0.3em;
        width: 10vw;
        height: 4vh;
        font-size: 1.2em;
        font-weight: 600;
        background-color: var(--amarillo);
        color: var(--azul);
        transition: all 0.3s ease-in-out;
    
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

/* btn-Inputs */
.inp-global {
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    width: 10vw;
    height: 4vh;
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--amarillo);
    color: var(--azul);
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
        cursor: pointer;
    }
}

/* Header */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--azul);

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        li {
            list-style: none;

            a {
                color: white;
                font-weight: 600;
                font-size: 1.2em;
                text-decoration: none;
            }

            .opciones {
                :last-child {
                    margin-left: 0.5vw;
                }

                a span {
                    font-size: 1.5em;
                }
            }
        }
    }
}

/* Login */
.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    
    .titulo {
        font-size: 3em;
        font-weight: 600;
        color: var(--azul);
    }

    .form-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        :first-child {
            margin-top: 10vh;
            margin-bottom: 5vh;
        }

        :last-child {
            margin-top: 5vh;
        }

        .form-input {
            width: 20vw;
            height: 5vh;
            border-radius: 0.2em 0.2em 0.2em 0.2em;
            border: 0.2em solid var(--azul);
        }   
    }
}

/* Inicio - listTable */
.main-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titulo-list {
        margin-top: 12.5vh;
        font-weight: 800;
        color: var(--azul);
    }

    .buscador-list {
        input {
            width: 40vw;
            height: 4vh;
            border: 0.2em solid var(--azul);
            border-radius: 0.4em 0.4em 0.4em 0.4em;
        }
    }

    .table-list {
        width: 60vw;
        height: 50vh;
        margin-top: 10vh;
        overflow-y: scroll; 
        border: 0.1em solid var(--azul); 

        table {
            width: 100%;
            text-align: center;
            border: 0.1em solid var(--azul); 
            border-collapse: collapse;

            thead tr {
                height: 5vh;
            }

            th, td {
                border: 0.1em solid var(--azul); 
                height: 4vh;
            }
        }
    }

    .opcion-list {
        display: flex;
        justify-content: center;
        
        .btn-res {
            margin-top: 1vh;
        }
    }
}

/* addRes - addTable */
.main-res {
    .volver-add {
        text-align: end;
        margin-right: 1vw;

        a {
            text-decoration: none;
            color: var(--azul);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--amarillo);
            }
        }
    }
    
    .info-top {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 15vh;

        .img-res {
            display: block;
            background-color: gray;
            border-radius: 0.2em 0.2em 0.2em 0.2em;
            border-color: black;
            width: 10vw;
            height: 20vh;
            margin-left: 10vw;
            margin-right: 5vw;
        }

        .table-add {
            border-collapse: collapse;

            
            tr td {
                padding: 0.3em 5vw 0.3em 0;
                border-bottom: 0.1em solid var(--azul);
            }

            tr .valor-campo {
                text-align: center;
                padding-right: 30vw;
            }
        }
    }

    .info-bottom {
        .titulo-res-med {
            margin-left: 5vw;
        }

        .table-res-med {
            border-collapse: collapse;
            margin-left: 5vw;

            tr th,
            tr td {
                text-align: center;
                padding: 0.6em 6vw 0.6em 6vw;
                border-bottom: 0.1em solid var(--azul);
            }
        }
    }

    .opcion-add {
        display: flex;
        justify-content: end;
        position: relative;
        
        .btn-res {
            margin-right: 5vw;
            margin-top: 5vh;
        }
    }
}  

.main-per {
    .info-top {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-per {
            margin-left: 0;
            margin-right: 0;
        }

        .table-per {
            margin-top: 10vh;

            tr .campo-info {
                padding-left: 2.5vw;
            }

            tr .valor-campo {
                padding-right: 5vh;
            }
        }
    }

    .opcion-per {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .btn-per {
            margin-left: 0;
            margin-top: 10vh;
        }

        .btn-per-del {
            margin-top: 2vh;
        }

    }
}
    