<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}"/>
    <link rel="stylesheet" href="{% static './css/styleList.css' %}"/>
    <title>DIOXX_666</title>

</head>
<body>
    {% include "base/header.html" %}

    <main class="main-content">
        <h3 id="volver">
            <a href="{% url 'listAcc' %}">Volver</a>
        </h3>

        <div class="resident-section"> 
            <h1 class="section-title">  
                Agregar Acceso
            </h1>
            <div class="resident-form-container">
                <form method="POST" action="{% url 'addAcc' %}">
                    {% csrf_token %}
                    <table class="resident-table">
                        <tr>
                            <td class="label">Fecha:</td>
                            <td><input type="date" name="fecha" class="input-field" required /></td>
                        </tr>
                        <tr>
                            <td class="label">Tipo:</td>
                            <td>
                                <select name="tipo" required>
                                    <option value="" selected>Seleccionar Tipo</option>
                                    <option value="entrada">Entrada</option>
                                    <option value="salida">Salida</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Rut:</td>
                            <td><input type="text" name="personaRut" class="input-field" required /></td>
                        </tr>
                        <tr>
                            <td class="label">Nombre:</td>
                            <td><input type="text" name="personaNombre" class="input-field" required /></td>
                        </tr>
                    </table>
                    <div class="add-button-container">
                        <input
                            type="submit"
                            value="Agregar Acceso"
                            class="add-button"
                        />
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
