<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>

  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h3 id="volver">
        <a href="{% url 'listAcc' %}">Volver</a>
      </h3>

      {% if mensaje %}
        <div>
            <p>{{ mensaje }}</p>
        </div>
      {% endif %}

      <div class="resident-section">
        <h1 class="section-title">
          Actualizar Acceso
        </h1>
        <div class="resident-form-container">
          <form method="POST" action="{% url 'updAcc' pk=acceso.idAcceso %}">
            {% csrf_token %}
            <table class="resident-table">
              <tr>
                <td>Fecha:</td>
                <td>
                  <input type="date" name="fecha" value="{{ acceso.fecha|date:'Y-m-d' }}" class="input-field" required />
                </td>
              </tr>
              <tr>
                <td>Tipo:</td>
                <td>
                  <select name="tipo" required>
                    <option value="entrada" {% if acceso.tipo == "entrada" %}selected{% endif %}>Entrada</option>
                    <option value="salida" {% if acceso.tipo == "salida" %}selected{% endif %}>Salida</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>RUT:</td>
                <td>
                  <input type="text" name="personaRut" value="{{ acceso.personaRut }}" class="input-field" required />
                </td>
              </tr>
              <tr>
                <td>Nombre:</td>
                <td>
                  <input type="text" name="personaNombre" value="{{ acceso.personaNombre }}" class="input-field" required />
                </td>
              </tr>
            </table>
            <div class="add-button-container">
              <input
                type="submit"
                value="Actualizar Acceso"
                class="add-button"
              />
            </div>
          </form>
          <form method="POST" action="{% url 'delAcc' pk=acceso.idAcceso %}">
            {% csrf_token %}
            <div class="add-button-container">
              <input type="submit" class="add-button" value="Eliminar" />
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
