<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <link rel="stylesheet" href="{% static './css/styleAdd.css' %}" />
    <title>DIOXX_666</title>

</head>
<body>
    {% include "base/header.html" %}

    <main class="main-content">
        <h3 id="volver">
            <a href="{% url 'listEvt' %}">Volver</a>
        </h3>

        {% if mensaje %}
            <div>
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}

        <div class="resident-section">
            <h1 class="section-title">Agregar Evento</h1>
            <div class="resident-form-container">
                <form method="POST" action="{% url 'addEvt' %}">
                    {% csrf_token %}
                    <table class="resident-table">
                        <tr>
                            <td class="label">Título:</td>
                            <td>
                                <input type="text" name="titulo" class="input-field" required />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Fecha de Inicio:</td>
                            <td>
                                <input type="datetime-local" name="fecha_inicio" class="input-field" required />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Fecha de Fin:</td>
                            <td>
                                <input type="datetime-local" name="fecha_fin" class="input-field" required />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Descripción:</td>
                            <td>
                                <textarea name="descripcion" class="input-field" required></textarea>
                            </td>
                        </tr>
                    </table>
                    <div class="add-button-container">
                        <input
                            type="submit"
                            value="Agregar Evento"
                            class="add-button" 
                        />
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
