<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styleList.css' %}" />
    <title>DIOXX_666</title>
  </head>
  <body>
    {% include "base/header.html" %}

    <main class="main-content">
      <h1 class="main-title">Listado de Eventos</h1>
      <section class="table-section">
        <div class="table-container">
          <table class="residents-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Descripción</th>
                <th>Ver Información</th>
              </tr>
            </thead>
            <tbody>
              {% for evento in eventos %}
              <tr>
                <td>{{ evento.idEvento }}</td>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.fecha_inicio }}</td>
                <td>{{ evento.fecha_fin }}</td>
                <td>{{ evento.descripcion }}</td>
                <td><a href="{% url 'verEvt' pk=evento.idEvento %}">Ver</a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6">No hay eventos registrados.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <div class="add-button-container">
        <a href="{% url 'addEvt' %}">
          <button style="margin-right: 15px ;" class="add-button">
            Agregar Evento
          </button>
        </a>

        <a href="{% url 'calendario_eventos' %}">
          <button class="add-button">
            Ver Calendario
          </button>
        </a>
      </div>
    </main>
  </body>
</html>
